.calendar_default_main {
    height: 100%; 
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.calendar_default_main > div:nth-child(2) {
    flex: 1;
    padding-top: 10px;
}

.calendar_default_main > div:nth-child(2) > div > table > tbody > tr > td:nth-child(2) > div > table > tbody tr:nth-child(2n) {
    display: none; 
}

div.calendar_default_cell {
    height: 90px !important;
}

.calendar_default_rowheader {
    overflow: visible !important;
}

.calendar_default_colheader_inner, .calendar_default_corner_inner, .calendar_default_rowheader_inner, .calendar_default_main {
    background: none;
    border: none;  
}
.calendar_default_cell_business .calendar_default_cell_inner {
    background: none;
}
.calendar_default_cell_inner {
    background: none;
    border-top: 1px solid lightgray; 
    border-bottom: none; 
    border-right: none; 
}

.calendar_default_rowheader_inner > div, .calendar_default_colheader_inner{
    line-height: 0;
    color: rgb(120, 120, 120);
}

.calendar_default_rowheader > div{
    text-align: center !important;
}

.calendar_default_event_inner {
    border: none;
    border-radius: 7px;
    padding: 10px;
}

.calendar_default_event_delete{
    right: 5px !important;
    top: 5px !important; 
}

.calendar_default_event {
    left: 0% !important;
    width: 100% !important; 
}
