
.searchWrapper button, .searchWrapper input {
    font-size: 14px;
  }
  
  .searchWrapper input {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    flex: 10;
    border: 1px solid lightgray;
  }
  
  .searchWrapper input:focus {
    outline: none !important;
    border: 1px solid rgb(80, 135, 236) !important;
  }
  
  .searchWrapper button {
    flex: 1;
  }
  